.sidebar {
    background-color: #B6D1EE;
    border-radius: 25px;
    min-width: 250px;
    height: fit-content;
}

.results-container {
    height: fit-content;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.results-table {
    padding: 10px;
}

@media (max-width: 1250px) {
    .results-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
  }