table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}


/* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
  padding: 0px;
}

/*used in SystemDetails.js taken from SystemDetails.css*/
.info-container {
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-evenly;
}


/*from page2 used in ExploreSystems*/
.sidebar {
  background-color: #B6D1EE;
  border-radius: 25px;
  min-width: 250px;
  height: fit-content;
}

.results-container {
  height: fit-content;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.results-table {
  padding: 10px;
}

@media (max-width: 1150px) {
  .results-container {
      flex-direction: column;
      flex-wrap: nowrap;
  }
}

/*From table.css. Used in src/components/functiondetail*/
.table-component {
  margin: 10px;
}
