table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}


/* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
  padding: 0px;
}

/*index.js*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*index.js*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Used in SystemDetails.js*/
.info-container {
  padding: 10px;
}

/*Used in SystemDetails.js*/
.row {
  display: flex;
  justify-content: space-evenly;
}

/*Page2.css*/
.sidebar {
  background-color: #B6D1EE;
  border-radius: 25px;
  min-width: 250px;
  height: fit-content;
  padding: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  border: 5px solid;
  border-color: #2E3B55;
}

p.sidebarHead {
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: large;

}



.results-container {
  height: fit-content;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.results-table {
  padding: 10px;
}

@media (max-width: 1150px) {
  .results-container {
      flex-direction: column;
      flex-wrap: nowrap;
  }
}

/*Used in InfoTable.js ModelTable.js MultiplierInvariants.js rationalpointstable.js*/
.table-component {
  margin: 10px;
}