name: Linting

on: push

jobs:
  pylint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: "pip"
        cache-dependency-path: Backend/requirements.txt

    - name: Install dependencies
      working-directory: Backend
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt


    - name: Check import setting with isort
      working-directory: Backend
      run: |
        isort --check-only .

    - name: Analysing the code with pylint
      working-directory: Backend
      run: |
        pylint .
